
@{
    ViewData["Title"] = "AccessDenied";
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

<h2>AccessDenied</h2>
<p>גישתך לדף נחסמה מחוסר הרשאות</p>
<div class="login-section">
    <form asp-action="Login">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <div class="form-group">
            <input class="form-control" type="text" min="4" max="20" name="UserName" id="username" placeholder="שם משתמש" />
        </div>
        <div class="form-group">
            <input class="form-control" type="password" min="8" max="200" name="Password" id="password" placeholder="סיסמה" />
        </div>
        <div hidden>
            <input type="text" name="ReturnUrl" id="ReturnUrl" value="@ViewBag.ReturnUrl" />
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">שלח</button>
    </form>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}