@{
    ViewData["Title"] = "התחברות";
}


@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
}


<div class="login-section">

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">התחברות</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="login">
            <partial name="SignIn" />
        </div>
    </div>
</div>