@{
    ViewData["Title"] = "הרצון לגאולה";
}

<h2>
    יכולים אנו להמשיך נשמות גדולות בעולם,
    שיהיה להן רצון אדיר וכח גדול, להביא גאולה לעולם,
    להסיר את כל האפלוליות שבחיים, ולנצח את כל החולשות שבהם.
    והכל תלוי ברצון שלנו, בהחפץ להתעלות למרומי
    קודש העליון, בדרישה קבועה ומקורית, בקידוש איתן של בשר ורוח,
    בהתדמות לאלהים, על ידי הליכה בדרכיו.
</h2>
<input class="form-control"
       id="myTextBox"
       name="myTextBox"
       type="text"
       value="נא הזן את שמך" />
<button id="button_1" value="לחץ" name="לחץ" ></button>

