@{
    ViewData["Title"] = "פניות הציבור";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<html dir="@(System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft? "rtl" : "ltr")">

<address>
    פריוקט מסכם, פיתוח אפליקציות אנטרנטיות<br />
    החוג למדעי המחשב - הקמפוס החרדי - המכללה למנהל<br />
    <name title="Name">מרצה: מר מנחם לייבוביץ</name>
    מחזור א' בני ברק
</address>

<address>
    <strong>נציג פניות הציבור:</strong> <a href="mailto:Inonshvarz@gmail.com">Inonshvarz@gmail.com</a><br />
    <strong>מפתח ראשי:</strong> <a href="mailto:Eladyek@gmail.com">eladyek@gmail.com </a>
</address>

<fieldset>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div id="googleMap" style="height:200px;width:50%;"></div>
    <script>
        function myMap() {
            // var myCenter = new google.maps.LatLng(20.296100, 85.824500);
            var myCenter = new google.maps.LatLng(32.0926072, 34.8392178, 20);
            var mapProp = { center: myCenter, zoom: 16, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({ position: myCenter });
            marker.setMap(map);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB84Wy0qplvZlKe7TPnt2G1dohdwlvSuPQ&callback=myMap"></script>
</fieldset>
<footer>
    <p style="background-color: Yellow; font-weight: bold; color:blue; text-align: center; font-style: oblique; height:20px;width:50%;"> ©אלעד וינון @DateTime.Now.ToLocalTime()</p> @*Add Date Time*@
</footer>

