@{
    ViewData["Title"] = "פניות הציבור";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<html dir="@(System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft? "rtl" : "ltr")">

<address>
    פריוקט מסכם, פיתוח אפליקציות אנטרנטיות<br />
    החוג למדעי המחשב - הקמפוס החרדי - המכללה למנהל<br />
    <name title="Name">מרצה: מר מנחם לייבוביץ</name>
    מחזור א' בני ברק
</address>

<address>
    <strong>נציג פניות הציבור:</strong> <a href="mailto:Inonshvarz@gmail.com">Inonshvarz@gmail.com</a><br />
    <strong>מפתח ראשי:</strong> <a href="mailto:Eladyek@gmail.com">eladyek@gmail.com </a>
</address>

<footer>
    <p style="background-color: Yellow; font-weight: bold; color:blue; text-align: center; font-style: oblique; height:20px;width:50%;"> ©אלעד וינון @DateTime.Now.ToLocalTime()</p> @*Add Date Time*@
</footer>

