@{
    ViewData["Title"] = "Home Page";
}
<html>
    <head>
        <link href="~/css/site.css" rel="stylesheet" />
    </head>
    <body>
        <h1>אתר התמונות והצילומים של עידית יקותיאל</h1>
    </body>
</html>

