<!DOCTYPE html>
<html>
<head>
    <title>הצגת תמונות</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        /* Button used to open the contact form - fixed at the bottom of the page */
        .open-button {
            background-color: #555;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.8;
            position: fixed;
            bottom: 23px;
            right: 28px;
            width: 280px;
        }

        /* The popup form - hidden by default */
        .form-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9;
        }

        /* Add styles to the form container */
        .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
        }

            /* Full-width input fields */
            .form-container input[type=text], .form-container input[type=password] {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: none;
                background: #f1f1f1;
            }

                /* When the inputs get focus, do something */
                .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                    background-color: #ddd;
                    outline: none;
                }

            /* Set a style for the submit/login button */
            .form-container .btn {
                background-color: #4CAF50;
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                width: 100%;
                margin-bottom: 10px;
                opacity: 0.8;
            }

            /* Add a red background color to the cancel button */
            .form-container .cancel {
                background-color: red;
            }

            /* Add some hover effects to buttons */
            .form-container .btn:hover, .open-button:hover {
                opacity: 1;
            }
    </style>
</head>
<body>
    <h1>
        התמונות הכי מגניבות של עידית
    </h1>
   
    <table>
        <tr>
            <td>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F%D7%A2%D7%99%D7%93%D7%99%D7%AA-%D7%99%D7%A7%D7%95%D7%AA%D7%99%D7%90%D7%9C-%D7%A6%D7%99%D7%9C%D7%95%D7%9D-%D7%9E%D7%A9%D7%A4%D7%97%D7%94-%D7%95%D7%99%D7%9C%D7%93%D7%99%D7%9D-570230956680281%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="540" height="700" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" ></iframe>
            </td>
            <td>
                <video width="600" title="הישוב מעלה לבונה" controls>
                    <source src="~/video/video1.mp4" type="video/mp4">
                    <source src="mov_bbb.ogg" type="video/ogg">
                    סרט צילום מרחפן
                </video>
            </td>
        </tr>
    </table>
   
    </body>
</html>