@model EladInon.Models.Picture

@{
    ViewData["Title"] = "Details";
}

<h2>פרטי תמונה</h2>

<div>
    <h4>תמונה</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">ערוך</a> |
    <a asp-action="Index">חזור לרשימת תמונות</a>
</div>
