
@{
    ViewData["Title"] = "כאן אמורות להיות תמונות";
}

<h1>הצגת תמונות וסירטונים</h1>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <label>בחר סוג פעולה:</label>
    <select multiple="multiple" id="my-select" name="my-select[]">
        @foreach (var item in Enum.GetNames(typeof(SessionType)))
        {
            <option value=@item>@item</option>

        }
    </select>
    <label>בחר מיקום:</label>
    <select multiple="multiple" id="my-select" name="my-select[]">
        @foreach (var item in Enum.GetNames(typeof(LocationType)))
        {
            <option value=@item>@item</option>
        }
    </select>
    <p>
        <a asp-action="Search"> <input type="submit" value="חיפוש" class="btn btn-default" /> |</a>
    </p>
</div>
<div>
    <p>
        <a asp-action="AddImage"> <input type="submit" value="הוספת תמונה" class="btn btn-default" /> |</a>
    </p>
</div>

<fieldset>
    <legend> הוספת תמונות (מנהלים בלבד) </legend>
    <label for="Image">תמונה</label>
    <input type="file" name="Image" />
    <br />
    <input type="submit" value="טעינת תמונה" />
</fieldset>