@model EladInon.Models.Album

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>יצירת אלבום חדש</h2>

<h4>צור אלבום</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Time" class="control-label">תאריך</label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlbumType" class="control-label">סוג אלבום</label>
                <select asp-for="AlbumType" asp-items="Html.GetEnumSelectList<AlbumType>()" class="form-control">
                    <option selected="selected" value="">בחר סוג אלבום</option>
                </select>
                <span asp-validation-for="AlbumType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">שם אלבום</label>
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationID" class="control-label">מיקום צילומים</label>
                <select asp-for="LocationID" class="form-control" asp-items="ViewBag.Locations">
                    <option selected="selected" value="">בחר מיקום צילומים</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="צור ושמור" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">חזור לרשימת אלבומים</a>
</div>

