@model EladInon.Models.Album

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>מחיקת אלבום</h2>

<h3>האם אתה בטוח כי ברצונך למחוק אלבום זה?</h3>
<div>
    <h4>מחק אלבום</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlbumType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlbumType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="מחיקה ושמירה" class="btn btn-default" /> |
        <a asp-action="Index">חזור לרשימת אלבומים</a>
    </form>
</div>
